body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.test
{
  color: red;

}


.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode .bg-white {
  background-color: #121212 !important;
}

.dark-mode .text-body-secondary {
  color: #ffffff !important;
}
.dork-mode .text-body-primary {
  color: #ffffff !important;
}

/* Aggiungi qui ulteriori stili per la dark mode */